.git
.gitignore
.venv
venv
env

__pycache__/
**/__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/

artifacts/
mlruns/
logs/
outputs/

data/

report/main.pdf
report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.synctex.gz
report/*.toc
